/* =================================== */
.overflow_hidden_preloder {
  overflow: hidden !important;
  position: relative;
}

.loding_position {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

/* =======backtoTop========== */
.backtotop {
  bottom: 24px;
  right: 8px !important;
  z-index: 50;
  background-color: #ed1c24;
  padding-left: 10px;
  animation: bounce 1.3s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-25%);
  }

  100% {
    transform: translateY(0%);
  }
}


.animation_loding {
  animation: loading_animate 1s alternate linear infinite;
}

@keyframes loading_animate {
  0% {
    transform: scale(1);
  }

  0% {
    transform: scale(1.5);
  }
}
.animation_loading_rotate {
  animation: rotate_animate 1s linear infinite;
}

@keyframes rotate_animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
